@model Category

<h2>Créer une catégorie</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="name">Nom de la catégorie</label>
        <input asp-for="name" class="form-control" />
    </div>
    <span asp-validation-for="name" class="text-danger"></span>

    <div class="mt-1">
        <button type="submit" class="btn btn-primary">Créer</button>
    </div>
   
</form>

<div class="mt-3">
    <a class="text-body" asp-area="" asp-controller="Category" asp-action="ListeCategorie">Retour à la Liste des Catégories</a>
</div>